<a href="https://colab.research.google.com/github/SobiaNoorAI/Python/blob/main/fundamentals_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Fundamentals of Python Programming

## **Data Types**

Boolean
- True, False

Int
- Proper number n=23

Float
- Point values z= 3.145987

Str
- a=”Tony”

In [3]:
my_name ='Ironman'
age=22
print(f'Hello, my name is {my_name} and I am {age} years old.')


full_name= "Tony Stark"
address_line = "Stark Tower, 200 Park Avenue, New York"
post_code =10001
country ='USA'
telephone_number ="212-970-4133"


print(f'{full_name}\n{address_line}\n{post_code}\n{country}\n{telephone_number}')

Hello, my name is Ironman and I am 22 years old.
Tony Stark
Stark Tower, 200 Park Avenue, New York
10001
USA
212-970-4133

## **Minimum Number**

In [2]:
numbers_list =[]
for i in range(5):
  user_input=int(input('Enter a Number:'))
  numbers_list.append(user_input)

min_number = numbers_list[0]
for current_number in numbers_list:
  if current_number < min_number:
    min_number = current_number

print(min_number)

Enter a Number:4
Enter a Number:8
Enter a Number:9
Enter a Number:0
Enter a Number:3
0