<a href="https://colab.research.google.com/github/SobiaNoorAI/Python/blob/main/sql/queries_sql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SQL Task

# Total Sales Revenue by Month:

In [ ]:
SELECT
    MONTH(OrderDate) AS Month,
    SUM(TotalAmount) AS TotalRevenue
FROM
    orders
GROUP BY
    MONTH(OrderDate)
ORDER BY
    Month

# Top 5 Best-Selling Products

In [ ]:
SELECT
    products.ProductName,
    SUM(orders.Quantity) AS TotalQuantity
FROM
    orders_large
JOIN
    products_large products ON orders.ProductID = p.ProductID
GROUP BY
    product.ProductName
ORDER BY
    TotalQuantity DESC
LIMIT 5;

# Revenue Contribution by Customer Segments

In [ ]:
SELECT
    c.Segment,
    SUM(orders.TotalAmount) AS TotalRevenue,
    (SUM(orders.TotalAmount) / (SELECT SUM(TotalAmount) FROM orders)) * 100) AS PercentageContribution
FROM
    orders
JOIN
    customers ON orders.CustomerID = customers.CustomerID
GROUP BY
    customers.Segment;

# Top Regions for Sales

In [ ]:
SELECT
    customers.Region,
    SUM(orders.TotalAmount) AS TotalRevenue
FROM
    orders
JOIN
    customers  ON orders.CustomerID = customers.CustomerID
GROUP BY
    customers.Region
ORDER BY
    TotalRevenue DESC;