<a href="https://colab.research.google.com/github/SobiaNoorAI/Python/blob/main/sql/queries_sql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SQL Task

# Total Sales Revenue by Month:

In [ ]:
SELECT
    MONTH(OrderDate) AS Month,
    SUM(TotalAmount) AS TotalRevenue
FROM
    orders_large
GROUP BY
    MONTH(OrderDate)
ORDER BY
    Month

# Top 5 Best-Selling Products

In [ ]:
SELECT
    products_large.ProductName,
    SUM(orders_large.Quantity) AS TotalQuantity
FROM
    orders_large
JOIN
    products_large ON orders_large.ProductID = products_large.ProductID
GROUP BY
    products_large.ProductName
ORDER BY
    TotalQuantity DESC
LIMIT 5;

# Revenue Contribution by Customer Segments

In [ ]:
SELECT
    customers_large.Segment,
    SUM(orders_large.TotalAmount) AS TotalRevenue,
    (SUM(orders_large.TotalAmount) / (SELECT SUM(TotalAmount) FROM orders_large)) * 100) AS PercentageContribution
FROM
    orders_large
JOIN
    customers_large ON orders_large.CustomerID = customers_large.CustomerID
GROUP BY
    customers_large.Segment;

# Top Regions for Sales

In [ ]:
SELECT
    customers.Region,
    SUM(orders_large.TotalAmount) AS TotalRevenue
FROM
    orders_large
JOIN
    customers_large  ON orders_large.CustomerID = customers_large.CustomerID
GROUP BY
    customers_large.Region
ORDER BY
    TotalRevenue DESC;